/* mullish font  */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
* {
    font-family: 'Mulish', sans-serif;
}
header{
    margin-top: 0;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
    font-weight: 500;
    font-size: 18px;
}
li > a{
    text-decoration: none;
}
.nav-title{
        font-size: 45px;
        font-weight: 800;
        width: 1440px;
        color: var(--Dark-01, #131313);
}
.home{
    color: #FF5400;
}
.travel-color{
    color: #FF5400;
font-size: 45px;
font-weight: 800;
}
.img-icon{
    margin-right: 0;
}
/* back-img   */
.back-img{
    border-radius: 16px;
    background-image: linear-gradient( rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 200px 100px;
}
.center-text{
    text-align: center;
    margin: 0 auto;
}
.banner-text{
    color: #FFF;
    font-size: 64px;
   font-weight: 800;
   margin-top: -100px;
   width: 100%;
}
.banner-des{
    color: #FFF;
font-size: 16px;
font-weight: 400;
width: 676px;
margin-left: 270px;
}
.input-container{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    text-align: center;
    justify-content: center;
    display: inline-flex;
    padding: 20px;
    gap: 24px;
    margin-top: 25px;
    margin-left: 50px;
}
.input-size{
    padding: 20px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border: none;
    width: 215px;
}
#btn-color{
    color: #FFF;
    border-radius: 8px;
background: #FF5400;
width: 255px;
margin: 0 auto;
}
/* popular */
.tours-list li{
   padding-bottom: 25px;
   width: 525px ;
}
.tours-list{
    padding-top: 15px;
    padding-bottom: 10px;
}
.popular-tours{
    color: #131318;
font-size: 40px;
font-weight: 800;
margin-top: 0;
}
.tours-des{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
width: 577px;
}
.tours-end-des{
    font-size: 16px;
    font-weight: 400;
    width: 530px;
}
.read-btn{
    border-radius: 8px;
background: #FF5400;
font-weight: 800;
color: #FFF;
font-size: 20px;
width: 174px;
padding: 20px;
border: none;
}
.popular-div{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
/* Destination */
.all-center{
    text-align: center;
}
.all-header{
    color: #131318;
font-size: 40px;
font-weight: 800;
}
.all-des{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
width: 643px;
margin: 0 auto;
}
.row{
    align-items: center;
    display: flex;
    gap: 25px;
}
.Maldives{
    background: linear-gradient( rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/maldives.png');
    width: 50%;
    height: 400px ;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    margin-top: 50px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.Maldives h3{
    margin-top: 180px;
}
.Indonesia{
    background: linear-gradient( rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Indonesia.png');
    background-repeat: no-repeat;
    width: 50%;
    height: 400px ;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    margin-top: 50px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.Indonesia h3{
    margin-top: 180px;
}
.Srilanka{
    background: linear-gradient( rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Srilanka.png');
    background-repeat: no-repeat;
    width: 30%;
    height: 300px ;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    margin-top: 50px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.Srilanka h3{
    margin-top: 140px;
}
.North-America{
    background: linear-gradient( rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/North\ America.png');
    background-repeat: no-repeat;
    width: 40%;
    height: 300px ;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    margin-top: 50px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.North-America h3{
    margin-top: 140px;
}
.Kashmir{
    background: linear-gradient( rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Kashmir.png');
    background-repeat: no-repeat;
    width: 30%;
    height: 300px ;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    margin-top: 50px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.Kashmir h3{
    margin-top: 140px;
}
.Bangladesh{
    background: linear-gradient( rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/bd.png');
    width: 40%;
    height: 400px ;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    margin-top: 50px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.Bangladesh h3{
    margin-top: 180px;
}
.Bandarban{
    background: linear-gradient( rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Bandarban.png');
    width: 60%;
    height: 400px ;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    margin-top: 50px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.Bandarban h3{
    margin-top: 180px;
}
.Maldives, .Indonesia, .Srilanka, .North-America, .Kashmir, .Bangladesh, .Bandarban{
    margin-top: 20px;
    margin-bottom: 5px;
}
/* main  */
main{
padding: 50px 240px;

}
/* Why Choose Us */
.all-cen{
    text-align: center;
    margin-top: -50px;
}
.all-choose{
    color: #131318;
font-size: 40px;
font-weight: 800;
}
.all-dis{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
width: 643px;
margin: 0 auto;
}
.choose-flex{
    display: flex;
    gap: 25px;
    width: 100%;
    height: 300px ;
    margin-top: 50px;
    margin-bottom: 25px;
}
.Handpicked-Hotels{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.flex-position{
    margin-top: 50px;
    margin-left: 25px;
}
.World-Class-Service{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.Best-Price{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 100px;
}
.flex-position-price{
    margin-top: 50px;
    margin-left: 25px;
    width: 100%;
    height: 250px ;
}
/* deals and discounts */
.img-flex{
}
/* responsive styles  */
/* mobile device  */
@media screen and (max-width: 576px) {
    header{
        padding: 0;
    }
    .banner-container{
        display: flex;
        margin-bottom: 25px;
    }
    .nav-title{
        font-size: 21.543px;
        font-weight: 800;
    }
    .travel-color{
        font-size: 21.543px;
        font-weight: 800;
    }
    .img-icon{
        width: 28.724px;
    }
    .back-img{
        width: 335px;
        background-position: center;
        padding: 110px 5px;
    }
    .banner-text{
        font-size: 22px;
        font-weight: 800;
    }
    .banner-des{
        font-size: 14px;
        text-align: center;
        font-weight: 400;
        width: 305px;
        margin: 0 auto;
    }
    .input-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: -80px;
        margin-top: 30px;
    }
    .popular-div{
        flex-direction: column; 
    }
    .popular-pad{
        padding-bottom: 25px;
    }
    .popular-div li {
        width: 100%;
    }
    .tours-des{
        width: 335px;
        margin-left: 25px;
    }
    .popular-tours{
        font-size: 20px;
        margin-left: 25px;

    }
    .tours-end-des {
        margin-left: 25px;
        width: 335px;
    }
    .read-btn{
        width: 174px;
        margin-left: 25px;
    }
    .popular-div img{
        width: 335px;
        margin-left: 25px;
    }
    .row{
        flex-direction: column;
        gap: 5px;
        margin-top: 0;
    }
    .all-header{
        font-size: 20px;
    }
    .all-des{
        width: 309px ;
    }
    .Maldives, .Indonesia, .Srilanka, .North-America, .Kashmir, .Bangladesh, .Bandarban{
        width: 350px;
        height: 100%;
        gap: 0;
        background-position: center;
    }
    /* Why Choose Us */
    .all-choose{
        font-size: 20px;
        margin-left: -130px;
        font-weight: 800;
        width: 154px;
    }
    .all-dis{
        width: 309px;
        margin-left: -205px;
        font-size: 14px;
        font-weight: 400;
    }
    .choose-flex{
        flex-direction: column;
        width: 335px;
        height: 289px;
        margin-left: -225px;
    }
    .Best-Price{
        width: 335px;
        height: 289px;
        margin-left: -225px;
        margin-top: 370px;
    }
    
}